{{ define "main" }}

  {{/* Page title for section / taxonomy pages */}}
  {{ if not .IsHome }}
    <h1 class="page-title">{{ .Title }}</h1>
  {{ end }}

  {{/* Post list */}}
  <section class="archive-by-year">
  {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate "2006" }}
    <p class="archive-heading">{{ .Key }}</p>
      {{ $year := .Key }}
      {{ range .Pages.GroupByDate "January" }}
      {{ if eq $year (time.Now | time.Format "2006") }}
        <details class="archive-details" open>
      {{ else }}
        <details class="archive-details">
      {{ end }}
        <summary>{{ .Key }} ({{ len .Pages }})</summary>
        <ul class="archive-post-list">
        {{ range .Pages }}
          <li>{{ .PublishDate.Format "2 Jan" }}: <a href="{{ .RelPermalink }}" class="archive">{{ .LinkTitle }}</a></li>
        {{ end }}
        </ul>
      </details>
      {{ end }}
    {{ end }}
  </section>

{{ end }}
