{{/* Shared post-meta block: date • reading time • tags */}}
<div class="post-meta">
  <time datetime="{{ .Date.Format "2006-01-02" }}">
    {{- .Date.Format "2 Jan 2006" -}}
  </time>

  {{ if .ReadingTime }}
    <span class="post-meta__sep">&bull;</span>
    <span>{{ .ReadingTime }} min read</span>
  {{ end }}

  {{ with .Params.tags }}
    <span class="post-meta__sep">&bull;</span>
    {{ range . }}
      <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  {{ end }}
</div>
