[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = git@github.com:KKKZOZ/hugo-admonitions.git
[submodule "themes/hugo-bliss"]
	path = themes/hugo-bliss
	url = git@github.com:jaxley/hugo-bliss.git
